html {
  height: 100%;
}

body {
  font-family: arial;
  font-size: 15px;
  font-weight: 400;
  color: #545454;
  background-color: #1a2e54;
  padding-bottom: 20px;
}

#app {
  position: relative;
  height: 100%;
}

.main {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

a {
  text-decoration: none;
  color: #545454;
}

a:hover {
  color: #aaa;
}

.button {
  font-size: 12px;
  cursor: pointer;
  padding: 8px 16px;
  background-color: #efefef;
  border: none;
  border-radius: 2px;
  display: block;
  color: #545454;
  margin: 0 5px 5px 0px;

  &:focus,
  &:active {
    color: #fff;
    background-color: #aaa;
    border: none;
  }

  &:hover {
    background-color: #0258ad;
    border: none;
    color: #fff;
  }
}

.display-none {
  display: none !important;
}

h2.subtitle,
h3.subtitle,
h4.subtitle {
  margin: 10px 0;
}
@media screen and (max-width: 700px) {
  body {
    font-size: 12px;
  }
}
////////////////////////////////////////////
.app {
  padding: 0px 50px 50px 50px;
  color: #fff;
}
.page {
  display: flex;
  padding: 20px 0px;
}
.page-pagination {
  font-size: 21px;
}
.auto-item {
  border-bottom: 5px solid grey;
  margin-bottom: 10px;
}
.control {
  padding: 50px 0px;
}
.control-wrapper {
  display: flex;
  padding: 10px 0px;
}
.control-color {
  width: 20px;
  height: 20px;
  background-color: #999;
  margin: 0 10px;
}
.page-title {
  font-size: 25px;
}
.auto-wrapper {
  display: flex;
}
.auto-title {
  font-size: 20px;
  padding: 0 20px;
}
.auto-control {
  display: flex;
}
.auto {
  width: 90px;
  height: 90px;
  // background-image: url('../images/auto.svg');
  mask-image: url('../images/auto.svg');
  -webkit-mask-image: url('../images/auto.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: pink;
  transform: scale(-1, 1)
}
.auto-img {
  mask-image: url('../images/auto.svg');
  fill: #ffb600;
  color: pink;
  background-color: blue;
}

.pagination-wrapper {
  display: flex;
}